:root{
    --color-primario: rgb(30, 30, 31);
    --color-secundario:#fcde47;
    --color-terciario: #4d9ca1;
    --gris-claro: rgb(68, 68, 68);
    --gris-mas-claro: rgb(199, 199, 199);
    --fuente-principal: 3.8rem;
}

/** Globales **/
html{
    font-size: 62.5%;
    box-sizing: border-box; /** Hack para Box Model **/
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
  }
  
  body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(245, 243, 243, 0.986);
  }

  .contenedor{
      max-width: 120rem;
      margin: 0 auto;
  }
  /** Tipografía **/

  h1{
      font-size: 4rem;
  }

  h2{
      font-size: 3.1rem;
  }

.header_index{
    height: 340px;
    background-color: rgb(30, 30, 31);
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
}

.contenido-hero{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.icon{
    border-radius: 50%;
    
}

.icon-principal{
    height: 15rem;
    width: 15rem;
    padding: 1.5rem;
    background-color: #4d9ca1;
}

.icon-secundario{
    height: 5.5rem;
    width: 5.5rem;
    padding: 1rem;
    background-color: var(--gris-claro);
}

.icon-secundario:hover{
    background-color: var(--color-terciario);
}

.contenedor-nav{
    background-color: var(--color-terciario);
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
}

.navegacion-principal a{
    text-align: center;
    text-decoration: none;
    font-size: 2.2rem;
    padding: 1.5rem;
    font-weight: 500;
    color: white;
}
.navegacion-principal a:hover{
    background-color: var(--color-secundario);
    color: var(--color-primario);
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.centrar-textos{
    text-align: center;
}

.contenedor-centrar{
    max-width: 120rem;
    margin: 0 auto;
    padding: 2rem;
}



/* .imagen-proyecto:hover{
    transform: scale(1.1);
} */

.contenedor-imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyecto-individual{
    min-height: 41rem;
    padding: 1.5rem 1rem;
    margin-bottom: 1rem;
    background-color: var(--gris-mas-claro);
    border-radius: 3px;
}



.imagen-proyecto{
    width: 80%;
    height: 20rem;
    /* padding: 2rem 0; */
}

.descripcion{
    min-height: 10rem;
}

@media (min-width: 768px) {
    .proyecto-grande{
        grid-column: 1/4;
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .contenedor-imagenes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
     }
     .proyecto-grande img{
         width: 40%;
         height: 25rem;
     }
     .proyecto-grande a{
        width: 30rem;
        margin-left: auto;
        margin-right: auto;
     }
    }




.footer{
        background-color: var(--color-primario);
        color: white;
        text-align: center;
        padding: .5rem 0;
    }

.skills-set{
    text-align: center;
    padding: 1rem;
}



@media (min-width: 768px) {
    .contenedor-iconos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        width: 60%;
        margin: 0 auto;
    }

}

.iconos{
   height: 15rem;
   width: 15rem;
   padding: 1rem;
}

@media (min-width: 768px) {
    .iconos{
        height: 15rem;
        width: 15rem;
        margin: 0 auto;
    }
}

.contenedor-icon-back{
    padding: 1rem 0;
}


@media (min-width: 768px) {
    .contenedor-icon-back{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        width: 60%;
        margin: 0 auto;
        padding: 4rem 0;
    }
}

.iconos-back{
    height: 12rem;
    width: 20rem;
}

.iconos-back:last-of-type{
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .iconos-back{
        height: 12rem;
        width: 20rem;
        margin: 0 auto;
    }
}



.mini-icon{
    height: 5rem;
    width: 5rem;
}

.aboutme{
    background-color: var(--gris-mas-claro);
    margin-bottom: 2rem;
    border-radius: 5px;
}

.titulo-about{
    margin: 0;
}

.contenidos-aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textos{
    width: 95%;
}

.fotografia{
    height: 150px;
    width: 145px;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.boton{
    text-decoration: none;
    text-align: center;
    background-color: var(--gris-claro);
    color: var(--color-secundario);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.mini{
    margin-left: .5rem;
}

.boton-repo{
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-contacto{
    display: block;
}


.boton:hover{
    background-color: var(--color-terciario);
}

@media (min-width: 768px) {
    .contenidos-aboutme{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .textos{
        width: 85%;
    }

    .boton-contacto{
        display: inline;
    }
    
}

.botonJs{
    border: none;
    cursor: pointer;
}

.no-dec{
    text-decoration: none;
}

.contactame{
    margin-top: .5rem;
    min-height: 20rem;
    width: 99%;
    display: flex;
    flex-direction: column;
    background-color: var(--gris-claro);
    border-radius: 3px;
}


.info-contacto{
    padding: 1.5rem;
}

.icon-contact{
    height: 8rem;
    width: 10rem;
    margin-right: 1rem;
}

.texto-contac{
    color: #fcde47;
    font-size: 2rem;
}

@media (min-width: 480px) {
    .contactame{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        }

    .icon-contact{
        height: 10rem;
        width: 12rem;
        margin-right: 1rem;
    }

    
}

@media (min-width: 768px) {
    .info-contacto{
        padding: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}